section{
    display: flex;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    justify-content: space-between;
    max-width: 70vw;
    gap:10px;
    padding: 70px 150px;
    
}
h2{
    font-family: Georgia, serif;
    line-height: 1.2;
    margin-bottom: 20px;
}
article{
    padding: 20px;
}
