html{
    background-color: lightgray;
    padding: 50px;
}
body,
ul,
li{
    display: flex;    
}
ul{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px
}
img{
   width: 90%;
   max-height: 85%;
   object-fit: cover;
}
li{
    border: 6px solid black;
    background-color: white;
    justify-content: center;
    align-items: center;
    
}
