html{
    font-family: Helvetica, sans-serif;
}
body{
    padding: 40px;
}
header{
    display: inline-block;
  

}
nav{
    display: inline-block;
    
}
h1{
    display: inline;

}
h2{
border-top: 1px solid #000;
padding-top: 24px;
    
}
ul{
    list-style-type: none;    
    display: inline;
}
li{
    display: inline-block;
    
}
a{
    text-decoration: none;
    color: rgb(6, 175, 6);
    padding: 8px;
}

