body{
    font-family: Helvetica, sans-serif;
    background-color: rgb(238,238,238);
    color: rgb(51,51,51);
    
   
}
img{
    width: 600px;
}
article{
    display: inline-block;
    width: 70%;
    padding: 40px;
}
aside{
    display: inline;
    width: 20%;
    float: right;
}