@media screen and (max-width:600px){
    header {
        background: linear-gradient(rgba(165, 163, 163, 0.3), rgba(165, 163, 163, 0.3)),
          url(./images/header-pic.jpg) no-repeat center center;
        background-size: cover;
        padding: 15px;
      }
    header nav {
        display: flex;
        flex-direction: column;
       
       }
      header nav ul li {
        display: block;        
        text-align: center;
        padding: 1px;
      }
      header nav ul {
        
        padding-top: 10px;
      }
      .header-title {
        padding: 1em 0;
      }
      .header-title h1 {
        font-size: 36px;
        
      }
      .header-title p {
        font-size: 16px;
      }
      .header-title button {
        margin-top: 15px;
        padding: 0.3em 0.9em;
      }
      .team-description-wrapper>ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
        .team-description-wrapper>ul>li {
        padding: 20px;
    
    } 
    .choose-us>ul{
        display: block;       
      }
      .choose-us>ul>li {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .choose-us>ul>li>p {
        width: 50%;
      }
      .blog-news>ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
      .blog-news>ul>li {
        margin: 20px;
      }
}